<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdeliver.net/npm/echarts@latest/dist/echarts.min.js"></script>
    <script src="https://cdn.staticfile.org/Chart.js/3.9.1/chart.js"></script>
    <link href="../public/css/many.css" rel="stylesheet" type="text/css"></link>
    <link rel="stylesheet" href="https://qidian.gtimg.com/lulu/edge/css/common/ui/Textarea.css">
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui/Button.css">
	  <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui/Input.css">
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui/Placeholder.css">
    <!-- <link href="//cdn.staticfile.org/layui/2.8.8/css/layui.css" rel="stylesheet"> -->
  </head>
<body>
    <header id="header">
        <h1>简历解析系统</h1>
        <nav id="navigation">
          <div class="row-btn">
            <a href="#" class="active">首页</a>
            <button id="btn-rsparse" type="normal" class="ui-button" onclick="">简历解析</button>
            <button id="btn-datashow" type="normal" class="ui-button" onclick="">数据统计</button>
          </div>
          <!-- <a href="#"></a> -->
        </nav>
    </header>
    <h1>简历统计信息</h1>
    <div class="big">
      <div class="info">
        <div class="box">
          <!-- <blockquote class="layui-elem-quote layui-text">
            Layui 框体布局内容主体区域
          </blockquote> -->
          <div class="stat-box">
          <img src="../public/img/account.svg" alt="Person Icon">
          <p >简历总数: <span id="total">100</span></p>
          <!-- <span class="stat-number">1000</span> -->
          </div>
        <!-- </div>
        <div class="box"> -->
          <div class="stat-box">
          <img src="../public/img/age.svg" alt="Person Icon">
          <p class="font-sz">年龄区间:  <span id="age">19-30</span></p>
          <!-- <span class="stat-number">1000</span> -->
          </div>
        <!-- </div>
        <div class="box"> -->
          <div class="stat-box">
          <img src="../public/img/gender.svg" alt="Person Icon">
          <p >性别比例: <span id="total">15:7</span></p>
          <!-- <span class="stat-number">1000</span> -->
          </div>
        <!-- </div>
        <div class="box"> -->
          <div class="stat-box">
          <img src="../public/img/works.svg" alt="Person Icon">
          <p >最高工作年限: <span id="MaxWorkage">10</span></p>
          <!-- <span class="stat-number">1000</span> -->
          </div>
        </div>
        <!-- <div class="icon-container">
          <span class="icon"></span>
          <span class="badge">5</span>
        </div> -->
      </div>
    </div>
  
    <div class="chart-container">
      <div class="exp"><canvas id="experience" class="chart"></canvas></div>
      <div class="edu"><canvas id="education" class="chart"></canvas></div>
      
    </div>

    <script>
        //页面跳转
        const btn = document.getElementById("btn-rsparse");
        btn.addEventListener("click", (event) => {
            window.location.href = "/jumpParse";
        });
    </script>
    
    <script>
    // const resumeData = [
    //       { name: '张大', age: 20, edu: '本科以下', graduate: '湖南大学', workage: 1 },
    //       { name: '李二', age: 25, edu: '本科', graduate: '湖南大学', workage: 2 },
    //       { name: '王三', age: 30, edu: '硕士', graduate: '湖南大学', workage: 3 },
    //       { name: '赵四', age: 35, edu: '博士', graduate: '湖南大学', workage: 5},
    //       { name: '钱五', age: 40, edu: '海归', graduate: '湖南大学', workage: 10 },
    //       { name: '张大', age: 20, edu: '本科以下', graduate: '湖南大学', workage: 1 },
    //       { name: '李二', age: 25, edu: '本科', graduate: '湖南大学', workage: 2 },
    //       { name: '王三', age: 30, edu: '硕士', graduate: '湖南大学', workage: 3 },
    //       { name: '赵四', age: 35, edu: '博士', graduate: '湖南大学', workage: 5},
    //       { name: '钱五', age: 40, edu: '海归', graduate: '湖南大学', workage: 10 },
    //       { name: '张大', age: 20, edu: '本科以下', graduate: '湖南大学', workage: 1 },
    //       { name: '李二', age: 25, edu: '本科', graduate: '湖南大学', workage: 2 },
    //       { name: '王三', age: 30, edu: '硕士', graduate: '湖南大学', workage: 3 },
    //       { name: '赵四', age: 35, edu: '博士', graduate: '湖南大学', workage: 5},
    //       { name: '钱五', age: 40, edu: '海归', graduate: '湖南大学', workage: 10 },
    //       { name: '张大', age: 20, edu: '本科以下', graduate: '湖南大学', workage: 1 },
    //       { name: '李二', age: 25, edu: '本科', graduate: '湖南大学', workage: 2 },
    //       { name: '王三', age: 30, edu: '硕士', graduate: '湖南大学', workage: 3 },
    //       { name: '赵四', age: 35, edu: '博士', graduate: '湖南大学', workage: 5},
    //       { name: '钱五', age: 40, edu: '海归', graduate: '湖南大学', workage: 10 },
    //       { name: '张大', age: 20, edu: '本科以下', graduate: '湖南大学', workage: 1 },
    //       { name: '李二', age: 25, edu: '本科', graduate: '湖南大学', workage: 2 },
    //       { name: '王三', age: 30, edu: '硕士', graduate: '湖南大学', workage: 3 },
    //       { name: '赵四', age: 35, edu: '博士', graduate: '湖南大学', workage: 5},
    //       { name: '钱五', age: 40, edu: '海归', graduate: '湖南大学', workage: 10 }
    //     ];
    // 获取简历数据
    function fetchResumeData() {
      fetch('/showData') 
      //   .then(response => response.json())
      //   .then(data => {
      //     updatePage(data);
      //   })
      //   .catch(error => {
      //     console.error('Error:', error);
      //   });
      .then(response => response.json())
    .then(data => {
      const resumeData = data.map(item => ({
        name: item.name,
        age: item.age,
        edu: item.edu,
        graduate: item.graduate,
        workage: item.workage,
      }));
      console.log('------------------');
      console.log(data);
      console.log(resumeData);
      updatePage(resumeData);
    })
    .catch(error => {
      console.error('Error:', error);
    });

    }

    function updatePage(resumeData) {
      // 总简历数
      document.getElementById('total').textContent = resumeData.length;

      // 年龄区间
      const ages = resumeData.map(resume => resume.age);
      const minAge = Math.min(...ages);
      const maxAge = Math.max(...ages);
      document.getElementById('age').textContent = `${minAge} - ${maxAge}`;
      //最高工作年限
      const workages = resumeData.map(resume => resume.workage);
      const maxworkAge = Math.max(...workages);
      document.getElementById('MaxWorkage').textContent = maxworkAge;


      // 工作经验图
      const experienceData = getexperiencedata(resumeData);
      expChart('experience', experienceData, [
        '1年及以下',
        '1-3年',
        '3-5年',
        '5年以上'
      ]);

      // 学历图
      const educationData = geteducationdata(resumeData);
      eduChart('education', educationData, [
        '本科以下',
        '本科',
        '硕士',
        '博士',
        '海归'
      ]);
    }

    // 工作经验数据
    function getexperiencedata(resumeData) {
      const experienceCount = {
        '1年及以下': 0,
        '1-3年': 0,
        '3-5年': 0,
        '5年以上': 0
      };

      resumeData.forEach(resume => {
        if (resume.workage <= 1) {
          experienceCount['1年及以下']++;
        } else if (resume.workage <= 3) {
          experienceCount['1-3年']++;
        } else if (resume.workage <= 5) {
          experienceCount['3-5年']++;
        } else {
          experienceCount['5年以上']++;
        }
      });

      return Object.values(experienceCount);
    }

    // 学历数据
    function geteducationdata(resumeData) {
      const eduCount = {
        '本科以下': 0,
        '本科': 0,
        '硕士': 0,
        '博士': 0,
        '海归': 0
      };

      resumeData.forEach(resume => {
        // eduCount[resume.edu]++;
        if (resume.edu =='中专' || resume.edu =='大专') {
          eduCount['本科以下']++;
        } else if (resume.edu =='本科') {
          eduCount['本科']++;
        } else if (resume.edu =='硕士') {
          eduCount['硕士']++;
        } else if (resume.edu =='博士') {
          eduCount['博士']++;
        } else if (resume.edu =='海归') {
          eduCount['海归']++;
        } 
      });

      return Object.values(eduCount);
    }


    function expChart(containerId, data, categories) {
      const container = document.getElementById(containerId);
      const chart = echarts.init(container,null,{width:600,height:400});

      const option = {
        title:{
          text:'经验统计',
          textStyle:{
            color:'black'
          },
          borderWidth:1,
          left:50,
          top:10
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow',
          },
        },
        xAxis: {
          data: categories,
          axisLabel: {
          interval: 0,  // 横坐标标签全部显示
        }},
        yAxis: {
          type:'value',
          max: Math.max(...data) * 1.2,  
          axisLabel: {
          interval: 0,  // 纵坐标标签全部显示
        },},
        series: [{
          type: 'bar',
          data: data,
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(180, 180, 180, 0.2)'
          },
          barWidth: '40%'  ,   //柱子粗细
          itemStyle: {
      color: function(params) {
        // 自定义颜色列表
        const colors = [ '#FFE9A8', '#D9C2FF', '#FFC3A0', '#B2F9BF','#FFB3BA', '#FFD56F'];
        // 根据索引返回对应的颜色
        return colors[params.dataIndex % colors.length];
      }
    }

        }]
        }

      chart.setOption(option);
    }
    
    function eduChart(containerId, data, categories) {
      const container = document.getElementById(containerId);
      const chart = echarts.init(container,null,{width:600,height:400});

      const option = {
        title:{
          text:'学历统计',
          textStyle:{
            color:'black'
          },
          borderWidth:1,
          left:50,
          top:10
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow',
          },
        },
        xAxis: {
          data: categories,
          axisLabel: {
          interval: 0,  // 横坐标标签全部显示
        }},
        yAxis: {
          type:'value',
          max: Math.max(...data) * 1.2,  
          axisLabel: {
          interval: 0,  // 纵坐标标签全部显示
        },},
        series: [{
          type: 'bar',
          data: data,
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(180, 180, 180, 0.2)'
          },
          barWidth: '40%',
          itemStyle: {
      color: function(params) {
        // 自定义颜色列表
        const colors = ['#FE4365','#FC9D9A', ' #F9CDA9','#C8C8A9','#83AF9B'];
        // 根据索引返回对应的颜色
        return colors[params.dataIndex % colors.length];
      }
    }

        }]
        }

      chart.setOption(option);
    }
    // 扇形图
    // function drawPieChart(chartId, data, labels) {
    //   const chartContainer = document.getElementById(chartId);

    //   new Chart(chartContainer, {
    //     type: 'pie',
    //     data: {
    //       labels: labels,
    //       datasets: [
    //         {
    //           data: data,
    //           backgroundColor: [
    //                         'rgb(255, 99, 132)',
    //                         'rgb(54, 162, 235)',
    //                         'rgb(255, 205, 86)',
    //                         'rgb(205, 105, 56)',
    //                         'rgb(75, 192, 192)',
    //                     ],
    //         }
    //       ]
    //     },
    //     options: {
    //       responsive: true,
    //       maintainAspectRatio: false,
    //     }
    //   });
    // }

    

    // // 在页面加载完成后获取简历数据
    // window.addEventListener('load', () => {
    //   // fetchResumeData();
    //   updatePage(resumeData);
    // });
       //在页面加载完成后获取简历数据addEventListener
       window.addEventListener("load", () => {
       fetchResumeData();
      //updatePage(resumeData);
       });
  </script>
    
</body>
</html>