<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/css/recognize.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
    <header id="header">
        <h1>简历解析系统</h1>
        <nav id="navigation">
          <a href="#" class="active">首页</a>
          <a href="#">简历解析</a>
          <a href="#">批量解析</a>
        </nav>
      </header>
    <div id="preview">
        <div id="resume_header" class="bg-resume">
            <div id="photo">
                <img src="">
            </div>
            <div class="name">xxx</div>
            <div class="info">
                <div>xx岁</div>
                <div class="dot color-yellow">•</div>
                <div>x年以上经验</div>
                <div class="dot color-yellow">•</div>
                <div>家乡</div>
            </div>
        </div>
        <div class="areas">
            <div class="area_label" >
                <table class="title_area color-gray" style="margin-top: 0">
                    <tbody>
                        <tr>
                            <td width="50%"><hr></td>
                            <td class="text_area">
                                <span>联系方式</span>
                            </td>
                            <td width="50%"><hr></td>
                        </tr>
                    </tbody>
                </table>
                <div >
                    <div class="col-xs-1" style="font-size:22px;text-align: right;">•</div>
                    <div class="col-xs-5 inner_text">手机号: </div>
                    <div class="col-xs-1" style="font-size:22px;text-align: right;">•</div>
                    <div class="col-xs-5 inner_text">邮箱号: </div>
                </div>
                <table class="title_area color-gray" >
                    <tbody>
                        <tr>
                            <td width="50%"><hr></td>
                            <td class="text_area">
                                <span>个人信息</span>
                            </td>
                            <td width="50%"><hr></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row area_style_1" id="personal_information_chi">
                    <div class="col-xs-1" style="font-size:22px;text-align: right;">•</div>
                    <div class="col-xs-5 inner_text" >姓名: </div>
                    <div class="col-xs-1" style="font-size:22px;text-align: right;">•</div>
                    <div class="col-xs-5 inner_text" >年龄: </div>
                    <div class="col-xs-1" style="font-size:22px;text-align: right;">•</div>
                    <div class="col-xs-5 inner_text">学历:</div>
                    
                    <div class="col-xs-1" style="font-size:22px;text-align: right;">•</div>
                    <div class="col-xs-5 inner_text">工作年限: </div>
                    <div class="col-xs-1" style="font-size:22px;text-align: right;">•</div>
                    <div class="col-xs-5 inner_text">院校: </div>
                </div>
                <table class="title_area color-gray">
                    <tbody><tr>
                        <td width="50%">
                            <hr>
                        </td>
                        <td class="text_area">
                            <span>求职意向</span>
                        </td>
                        <td width="50%">
                            <hr>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div >
                    <div class="col-xs-1" style="font-size:22px;text-align: right;">•</div>
                    <div class="col-xs-5 inner_text" >期望工作地: </div>
                    <div class="col-xs-1" style="font-size:22px;text-align: right;">•</div>
                    <div class="col-xs-5 inner_text" >期望工作职业: </div>
                </div>
                <table class="title_area color-gray">
                    <tbody><tr>
                        <td width="50%">
                            <hr>
                        </td>
                        <td class="text_area">
                            <span>工作经历</span>
                        </td>
                        <td width="50%">
                            <hr>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="inner_area">
                    <table>
                        <tbody>
                            <tr>
                                <td class="company_name" style="white-space: nowrap" title="">xxxxxx公司</td>
                                <td class="color-gray" style="white-space: nowrap">2019.07 - 2019.08 [2个月]</td>
                            </tr>   
                            <tr>
                                <td colspan="100">
                                    <div style="float: left">
                                        <b>岗位名称：</b>xx<br></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="100">
                                    <div  style="float: left">
                                        <b>所在城市：</b>xx<br></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>         
        </div>
    </div>
</body>
</html>