<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>简历解析系统</title>
    <link href="../public/css/web.css" rel="stylesheet" type="text/css"></link>
    <script src="https://cdn.staticfile.org/Chart.js/3.9.1/chart.js"></script>
    <link rel="stylesheet" href="https://qidian.gtimg.com/lulu/edge/css/common/ui/Textarea.css">
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui/Button.css">
	<link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui/Input.css">
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui/Placeholder.css">
</head>
<body>
    <header id="header">
        <h1>简历解析系统</h1>
        <nav id="navigation">
          <div class="row-btn">
            <a href="#" class="active">首页</a>
            <button id="btn-rsparse" type="normal" class="ui-button" onclick="">简历解析</button>
            <button id="btn-datashow" type="normal" class="ui-button" onclick="">数据统计</button>
          </div>
          <!-- <a href="#"></a> -->
        </nav>
    </header>
        <div class="container">
            <div class="container-left">
                <h2>简历解析</h2>
                <div style="font-size: xx-small;">使用说明：可以粘贴或输入文本进行解析；文件解析请先选择文件，文件格式可以选择图片/pdf格式。</div>
                <textarea class="ui-textarea" id="textarea" placeholder="在此输入解析文本"></textarea>   
                <img id="image-preview" src="#" alt="" />
                <!-- <label for="file-input">LLLLL</label> -->
                <div class="space">
                    <div class="space">
                        <input type="file" id="file-input" multiple accept=".pdf,.jpg,.jpeg,.png" />
                    </div>
                </div>
                <div class="row-btn">
                    <button id="submit-btn-text" type="normal" class="ui-button" onclick="">文本解析</button>
                    <button id="submit-btn-file" class="ui-button" onclick="">文件解析</button>
                </div>
            </div>
            <div class="container-right">
                <div class="space">
                    <div style="font-size: xx-small;">说明：若识别正确，点击提交结果可以存入后台。</div>
                </div>
                <h3>解析结果</h3>
                <div class="space">
                    <ul id="user-info"></ul>
                </div>
                <div class="row-btn">
                    <button id="submit-btn-db" type="normal" class="ui-button" onclick="">提交结果</button>
                    <!-- <button id="submit-btn" class="ui-button" onclick="">重新识别</button> -->
                </div>
            </div>
	    </div>

        <!-- <script src="../public/js/webhandle.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

        <script>
            /*页面跳转*/
            const btn = document.getElementById("btn-datashow");
            btn.addEventListener("click", (event) => {
                window.location.href = "/jumpData";
            });
        </script>

        <script>
            /*文本解析*/
            const submitBtnText = document.getElementById("submit-btn-text");

            var inputText
            var text = document.getElementById("textarea")

            text.addEventListener("input", function() {
                //实时监听文本框中数据 存入变量中
                inputText = text.value
                // 这里可以对inputText做进一步处理
                if (inputText) {
                    // console.log(inputText);
                    // var output =  parse(inputText)
                    console.log("文本处理...")
                    //是否有文本解析的api可以调用？？
                } 
            });

            submitBtnText.addEventListener("click", (event) => {
                ///向后端提交文本
                console.log("----")
                console.log("text=", inputText)
                console.log(typeof inputText);

                const data = { text: inputText };

                fetch('/nlpHandler', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data),
                })
                .then(response => {
                    let got_data = response.text()
                    console.log("接收data resp");
                    console.log(typeof got_data)
                    console.log(got_data.data)
                    return got_data
                    // response.json()
                })
                .then(got_data => {
                    // renderData(got_data.data); //got_data是string类型
                    const container = document.getElementById('user-info');
                    // 清空原有的内容
                    container.innerHTML = '';
                    // 创建新的列表并添加到容器中

                    const jsonObject = JSON.parse(got_data)
                    const name = jsonObject.data.name[0];
                    const age = jsonObject.data.age[0];
                    const education =  jsonObject.data.edu[0];
                    const graduate = jsonObject.data.graduate[0];
                    const workage = jsonObject.data.workage[0];
                    console.log(got_data);
                    console.log(jsonObject);

                    //列表渲染
                    let ul = window.document.createElement("ul");
                    ul.innerHTML = "<p>" + "姓名： " + name + "</p>" + 
                                    "<p>" + "年龄： " + age + "</p>" +
                                    "<p>" + "最高学历： " + education + "</p>" +
                                    "<p>" + "毕业院校： " + graduate + "</p>" +
                                    "<p>" + "工作年限： " + workage + "</p>" ;
                    container.appendChild(ul);

                    //先对json数据进行拆解
                    const extractedData = {
                        name: jsonObject.data.name[0],
                        age: jsonObject.data.age[0],
                        edu: jsonObject.data.edu[0],
                        graduate: jsonObject.data.graduate[0],
                        workage: jsonObject.data.workage[0]
                    };
                    console.log(typeof extractedData);
                    console.log(extractedData);

                    //数据入库操作
                    const submitDb = document.getElementById("submit-btn-db");
                    submitDb.addEventListener("click", function() {
                        fetch('/addInfo', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(extractedData)
                        })
                        .then(response => {
                            
                        })
                        .catch(error => {
                            console.error(error);
                        });
                    });

                })
                .catch(error => {
                    console.error(error);
                });
                
                
            });
        </script>

        <script>
            /*文件解析*/
            const fileInput = document.getElementById("file-input");
            const submitBtnFile = document.getElementById("submit-btn-file");
            const previewImg = document.getElementById("image-preview");

            fileInput.addEventListener("change", (event) => {
                const file = event.target.files[0];
                console.log(file);
                console.log(typeof file);
                if (!file) {
                    return;
                }
                const reader = new FileReader();
                reader.onload = (event) => {
                    previewImg.src = event.target.result;
                };
                reader.readAsDataURL(file);
                reader.onload = function() {
                    const dataURL = reader.result;
                    const imgElement = document.createElement("file");
                    imgElement.src = dataURL;
                    document.body.appendChild(imgElement);
                }
            });

            fileInput.addEventListener("input", (event) => {
                
            });

            submitBtnFile.addEventListener("click", (event) => {
                const file = fileInput.files[0];
                // console.log(file);
                // console.log(typeof file);

                //本地上传 直接把文件目录给后端
                const formData = new FormData();
                formData.append('file', file);
                console.log(formData.get('file'));
                console.log(typeof formData);

                // axios.post('/upload', formData)
                // .then(response => {
                //     console.log(response.data);
                // })
                // .catch(error => {
                //     console.error(error);
                // });

                // const response =  fetch('/upload', {
                //     method: 'POST',
                //     body: formData
                // });

                // if (response.ok) {
                //     const result =  response.json();
                //     console.log(result); // 处理上传成功后的响应结果
                // } else {
                //     console.error('上传失败');
                // }

                fetch('/upload', {
                    method: 'POST',
                    // headers: {'Content-Type': 'multipart/form-data;boundary=<calculated when request is sent>'},
                    body: formData
                })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => {
                    // console.error('上传失败');
                    console.error(error);
                });

            });



            ///获取图片处理逻辑
            // const fileInput = document.querySelector('#file-input');
            // const file = fileInput.files[0];
            // console.log("file：",file)
            // if (file) {
            // }
            // const reader = new FileReader();
            // reader.onload = (event) => {
            //     previewImg.src = event.target.result;
            // };
            // reader.readAsDataURL(file);
            // reader.onload = function() {
            //     const dataURL = reader.result;
            //     const imgElement = document.createElement("file");
            //     imgElement.src = dataURL;
            //     document.body.appendChild(imgElement);
            // }

            // const formData = new FormData();
            // formData.append('image', dataURL);
            // console.log(formData);

            
            

            ///提交图片
            //post时要把图片转为blob 后端再将blob转化成图片
            // fetch('/imgOcr', {
            //     method: 'POST',
            //     body: formData ,
            //     headers: {
            //     'Content-Type': 'multipart/form-data'
            //     }
            // })
            // .then(response => {
            //     let data = response.text()
            //     console.log(data)
            //     return data
            //     // response.json()
            // })
            // .then(data => {
            //     console.log(data);
            // })
            // .catch(error => {
            //     console.error(error);
            // });
        </script>

        <script>
           
        </script>
        
    </body>
</html>