<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>简历解析系统</title>
    <link href="../public/css/web.css" rel="stylesheet" type="text/css"></link>
    <link rel="stylesheet" href="https://qidian.gtimg.com/lulu/edge/css/common/ui/Textarea.css">
</head>
<body>
    <header id="header">
        <h1>简历解析系统</h1>
        <nav id="navigation">
          <a href="#" class="active">首页</a>
          <a href="#">简历解析</a>
          <a href="#">批量解析</a>
        </nav>
      </header>
        <div id="preview">

            <label for="file-input">简历解析</label>
            <div style="font-size: xx-small;">使用说明：粘贴简历文本至文本框或者提交简历文件夹，并点击提交按钮。</div>
            <textarea class="ui-textarea" ></textarea>   
            <div id="choose-file">
            
            <input type="file" id="file-input" multiple accept=".pdf,.jpg,.jpeg,.png" />
            <ul id="file-list"></ul>
            </div>
                <button id="submit-btn" onclick="">开始解析</button>
            </div>
        </div>
        <!-- <script src="../public/js/webhandle.js"></script> -->
        <script>
          const fileInput = document.getElementById("file-input");
          const fileList = document.getElementById("file-list");
          const submitBtn = document.getElementById("submit-btn");

          fileInput.addEventListener("change", (event) => {
          const files = event.target.files;
          console.log(files);
          // 处理选择的文件
          for (const file of files) {
              if (file.type === "application/pdf" || file.type === "image/jpeg" || file.type === "image/png") {
               console.log("文件:", file.name);
               const li = document.createElement("li");
               li.textContent = file.name;
               fileList.appendChild(li);
               // 进行文件处理操作
               } else {
               console.log("不支持的文件类型:", file.name);
               }
          }
          });
            

          submitBtn.addEventListener("click", (event) => {
              // event.preventDefault();
              // 提交表单逻辑
              const fileInput = document.querySelector('#file-input');

              const file = fileInput.files[0];
              console.log("file：",file)
              if (!file) {
                  return;
              }
              const reader = new FileReader();
              reader.onload = (event) => {
                  previewImg.src = event.target.result;
              };
              reader.readAsDataURL(file);
              reader.onload = function() {
                const dataURL = reader.result;
                const imgElement = document.createElement("file");
                imgElement.src = dataURL;
                document.body.appendChild(imgElement);
            }

              const formData = new FormData();
              formData.append('image', dataURL);
              console.log(formData);

              //post时要把图片转为blob 后端再将blob转化成图片
              fetch('/imgOcr', {
                  method: 'POST',
                  body: formData ,
                  headers: {
                  'Content-Type': 'multipart/form-data'
                  }
              })
              .then(response => {
                  let data = response.text()
                  console.log(data)
                  return data
                  // response.json()
              })
              .then(data => {
                  console.log(data);
              })
              .catch(error => {
                  console.error(error);
              });
          });
        </script>
    </body>
</html>